.ax-footer {
    background-color: #000000;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    span {
        color: white;
    }
}




