html body {
  font-family: 'Roboto', sans-serif; }

.ax-contact {
  background-color: #f4f4f4; }
  .ax-contact img {
    width: 100%; }
  .ax-contact .btn {
    background-color: #e35f13;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .ax-contact .btn:hover {
      background-color: #c75411; }
    .ax-contact .btn:active, .ax-contact .btn:focus {
      border: 0px; }
  .ax-contact form .form-control {
    background-color: #dddbdb;
    border-radius: 0px;
    border: solid 2px #d6d5d5;
    -webkit-appearance: none;
    color: #a09d9d;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .ax-contact form .form-control:focus {
      background-color: #dddbdb;
      border: solid 2px #e35f13; }

.phone-box .row {
  border: solid 1px #cfcdcd; }

.phone-box i {
  color: #c75411;
  font-size: 20px; }

.phone-box p {
  color: #363636;
  font-size: 14px; }

.phone-box h5 {
  text-transform: uppercase;
  font-size: 18px; }
