.ax-work {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4; }
  .ax-work img {
    width: 100%; }
  .ax-work a {
    color: #000000;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .ax-work a:hover {
      color: #e35f13;
      text-decoration: none; }
    .ax-work a:visited {
      color: #cc6600; }
  .ax-work .carousel h5 {
    color: #c75411;
    font-size: 12px;
    text-transform: uppercase; }
  .ax-work .carousel h4 {
    font-size: 15px; }
  .ax-work .carousel img {
    object-fit: cover;
    width: 100%;
    height: 20vh; }
  .ax-work .btn {
    background-color: #e35f13;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .ax-work .btn:hover {
      background-color: #c75411; }
    .ax-work .btn:active, .ax-work .btn:focus {
      border: 0px; }
  .ax-work form .form-control {
    background-color: #dddbdb;
    border-radius: 0px;
    border: solid 2px #d6d5d5;
    -webkit-appearance: none;
    color: #a09d9d;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .ax-work form .form-control:focus {
      background-color: #dddbdb;
      border: solid 2px #e35f13; }
  .ax-work .video-controls {
    font-family: 'Roboto', sans-serif; }
    .ax-work .video-controls button {
      background-color: #f4f4f4;
      border: none;
      color: black;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 2px;
      margin-right: 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
      .ax-work .video-controls button:hover, .ax-work .video-controls button:active, .ax-work .video-controls button:focus {
        background-color: #e6e4e4;
        outline: none; }
    .ax-work .video-controls .btn {
      background-color: #e35f13;
      border-radius: 0;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
      .ax-work .video-controls .btn:hover {
        background-color: #c75411; }
      .ax-work .video-controls .btn:active, .ax-work .video-controls .btn:focus {
        border: 0px; }

.email-box {
  font-family: 'Roboto', sans-serif;
  border: solid 1px #111111;
  background-color: #363636; }
  .email-box i {
    color: #c75411;
    font-size: 20px; }
  .email-box p {
    color: white;
    font-size: 14px; }
  .email-box h5 {
    text-transform: uppercase;
    font-size: 18px;
    color: white; }
  .email-box .btn {
    background-color: #727070;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .email-box .btn a {
      font-size: 14px; }
    .email-box .btn:hover {
      background-color: #c5c2c2; }
    .email-box .btn:active, .email-box .btn:focus {
      border: 0px; }
  .email-box form .form-control {
    background-color: white;
    border-radius: 0px;
    border: solid 1px black;
    -webkit-appearance: none;
    color: #202020;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .email-box form .form-control:focus {
      background-color: #dddbdb;
      border: solid 1px #e35f13; }
