@charset "UTF-8";
.ax-services {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4; }
  .ax-services img {
    width: 100%; }
  .ax-services p {
    line-height: 30px; }
    .ax-services p a {
      color: #e35f13; }
  .ax-services a {
    color: #000000;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .ax-services a:hover {
      color: #e35f13;
      text-decoration: none; }
    .ax-services a:visited {
      color: #cc6600; }
  .ax-services .carousel h5 {
    color: #c75411;
    font-size: 12px;
    text-transform: uppercase; }
  .ax-services .carousel h4 {
    font-size: 15px; }
  .ax-services .carousel img {
    object-fit: cover;
    width: 100%;
    height: 20vh; }
  .ax-services .btn {
    background-color: #e35f13;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .ax-services .btn:hover {
      background-color: #c75411; }
    .ax-services .btn:active, .ax-services .btn:focus {
      border: 0px; }
  .ax-services ul {
    list-style: none;
    padding-top: 0px; }
  .ax-services li {
    padding-top: 10px;
    list-style-position: inside;
    text-indent: -2.5em; }
    .ax-services li a {
      text-decoration: underline; }
  .ax-services li::before {
    content: "•";
    color: #e35f13;
    margin-left: 0;
    margin-right: 10px;
    font-size: 18px; }

hr {
  border: 0.5px solid #8a8888; }

.email-box {
  font-family: 'Roboto', sans-serif;
  border: solid 1px #111111;
  background-color: #363636; }
  .email-box i {
    color: #c75411;
    font-size: 20px; }
  .email-box p {
    color: white;
    font-size: 14px;
    line-height: 20px; }
  .email-box h5 {
    text-transform: uppercase;
    font-size: 18px;
    color: white; }
  .email-box .btn {
    background-color: #727070;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .email-box .btn a {
      font-size: 14px; }
    .email-box .btn:hover {
      background-color: #c5c2c2; }
    .email-box .btn:active, .email-box .btn:focus {
      border: 0px; }
  .email-box form .form-control {
    background-color: white;
    border-radius: 0px;
    border: solid 1px black;
    -webkit-appearance: none;
    color: #202020;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .email-box form .form-control:focus {
      background-color: #dddbdb;
      border: solid 1px #e35f13; }

.phone-box {
  border: solid 1px #cfcdcd; }
  .phone-box i {
    color: #c75411;
    font-size: 20px; }
  .phone-box p {
    color: #363636;
    font-size: 14px;
    line-height: 22px; }
  .phone-box h5 {
    text-transform: uppercase;
    font-size: 18px; }
